[class^='devicon'], [class*=" devicon="]{
  font-size: 80px;
  margin: 10px;
  line-height: 1.5;
}
[class^='redux']{
  margin-bottom: 60px;
  margin-left: 20px;
}
#team{
  background-image: url("img/resume.png");
}
